
body {
    margin: 0;
    padding: 0;
	background-color: #dfdfdf;
	background-color: #999;
}

header#marquee {
    font-family: sans-serif;
    background-color: #545454;
    color: white;
    border-bottom: 1px solid black;
    padding: 0.3em;
}

header#marquee span.number {
    color: #F9BFAB;
    font-size: 1.1em;
}

#show-entity-btn {
	z-index: 9;
}

div#sidebar {
	display: inline-block;
}

div#results {
	display: inline-block;
	width: 1000px;
	vertical-align: top;
	font-family: sans-serif;
}

div#duns-results, div#names-results {
	vertical-align: top;
	display: inline-block;
	width: 45%;
}

div.duns-result, div.names-result {
	padding: 0.25em;
	margin: 3px;
}

div.duns-result {
	width: 8em;
	background-color: rgb(255, 200, 180);
}

div.names-result {
	background-color: rgb(180, 200, 255);
}

img#progress-spinner {
	width: 1em;
	height: 1em;
	margin: auto auto;
}

div#no-results {
	margin: 0.5em 5em;
	padding: 0.5em;
	background-color: #FF7373;
	border: #A60000 3pt solid;
}

div#no-results-text {
	text-align: center;
	margin: auto auto;
	font-weight: bold;
	color: white;
	width: 40%;
}

._jsPlumb_connector {
	z-index: 0;
}
