<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/media/css/humanity/jquery-ui-1.8.14.custom.css">
		<link rel="stylesheet" type="text/css" href="/media/css/duns.css">

		<script type="text/javascript" src="media/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="media/js/jquery-ui-1.8.14.custom.min.js"></script>
		<script type="text/javascript" src="media/js/jquery.jsPlumb-1.3.1-all.js"></script>

		<script type="text/javascript" src="media/js/traer.js"></script>
		<script type="text/javascript" src="media/js/processing-1.2.3-api.js"></script>

		<script type="text/javascript" src="media/js/base64.js"></script>

		<script type="text/javascript" src="media/js/extend.js"></script>
		<script type="text/javascript" src="media/js/crawler.js"></script>
		<script type="text/javascript" src="media/js/particlegraph.js"></script>
		<script type="text/javascript" src="media/js/dunsweb.js"></script>

		<title>LEI</title>
		{% block head %}
		{% endblock %}
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
