{% load media %}
<!DOCTYPE html>

<html>
	<head>
		{% block head %}
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<![endif]-->
        <title>Six Degrees of Corporations</title>
		{% endblock %}
		{% block head_epilogue %}
		{% endblock %}
	</head>
	{% css humanity/jquery-ui-1.8.14.custom.css %}
	{% css duns.css %}
	<body  class="{% block bodyclass %}home{% endblock %}">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
	    <div class="sf_mini_header">
        	<div class="sf_mini_header_nav_wrapper">
        		<h1 id="sunFoundation"><a class="textReplace" href="http://www.sunlightfoundation.com">Sunlight Foundation</a></h1>
        		<nav>
            		<ul>
            			<li class="about"> <a href="http://sunlightfoundation.com/about/">About</a>
            			</li>
            			<li class="blog"> <a href="http://sunlightfoundation.com/blog/">Blog</a>
            			</li>
            			<li class="projects"> <a href="http://sunlightfoundation.com/projects/">Projects</a>
            			</li>
            			<li class="contact"> <a href="http://sunlightfoundation.com/contact/">Contact</a>
            			</li>
            		</ul>
            	</nav>
        		<div class="clear"></div>
        	</div>
        </div>
	    <header>
		<h1><a class="textReplace" href="{% url index %}">Six Degrees of Corporations</a></h1>
	        <nav>
	            <ul>
	                <li id="about" class="first"><a href="{% url about %}">About</a></li>
					<li id="identifier"><a href="{% url existing-identifiers %}">Existing Identifer Systems</a></li>
					<li id="caseStudy"><a href="{% url singapore-uen %}">Case Study</a></li>
					<li id="resources"><a href="{% url resources %}">Resources</a></li>
					<li id="contact"><a href="{% url contactform %}">Contact</a></li>
	            </ul>    
	        </nav>   
	        <div class="clear"></div> 
	    </header>
	    <div id="main">
	        {% block body %}
	        {% endblock %}
	        <div class="clear"></div>
	    </div>
	    <footer>
			<img id="sunlightBadge" alt="A product of the Sunlight Foundation" src="{% media_url "images/img_badge.jpg" %}"/>
	        <div id="footerText">
	            <h3 class="textReplace">Like this project and want to discover others like it?</h3>
	            <span class="tip">Join the Sunlight Foundation’s open government community to learn more</span>
    	        <form action="http://organizing.sunlightfoundation.com/page/s/6-degrees-signups" method="post">
                    <input type="hidden" name="custom-933" value="sixdegrees" />
                    <ul>
                        <li>
                            <input id="id_email" type="email" placeholder="Your email address" name="email">
                        </li>  
                        <li>
                            <input id="id_zip" type="zip" placeholder="Your zip code" name="zip">
                        </li>
                        <li>  
                            <button id="submit_btn" type="submit">
                                 <span>Submit</span>
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="clear"></div>
	    </footer>
		<!--[if lt IE 9]>
		<script>
			CFInstall.check({
				mode: "overlay",
				destination: window.location,
			});
		</script>
		<![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22821126-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	</body>
</html>
