{% extends "base.html" %}
{% load humanize %}
{% block head %}
{% endblock %}
{% block body %}

    <div id="marquee">
    <span class="number">{{ name_count|intcomma }}</span> names 
    &amp;
    <span class="number">{{ duns_count|intcomma }}</span> DUNS numbers 
    from 
    <span class="number">{{ contract_count|intcomma }}</span> contracts 
    &amp;
    <span class="number">{{ grant_count|intcomma }}</span> grants
    </div>

    <div id="content">
        <div id="sidebar">
            <span id="search-form">
                <input type="text" id="entity-name" value="General Electric">
                <button id="show-entity-btn">Find</button>
            </span>
            <button id="cancel-search-btn">
                <img id="progress-spinner" src="/media/images/spinner3-black.gif"> 
                Cancel
            </button>
            <br>
			<span id="search-queue-length" style="display: none;"></span>
			<br>
			<span id="low-frame-rate-warning" style="display: none;">The search has been stopped because your computer is having trouble processing more results.<br></span>
            <ul id="node-details">
            </ul>
        </div>

        <div id="results">
            <div id="no-results" style="display: none;">
                <div id="no-results-text">
                    Your search returned no results.
                </div>
            </div>
            <canvas id="graph">
            </canvas>
        </div>
    </div>

	<div id="duns-result-tmpl">
		<div class="duns-result" style="display: none;">
			<span class="duns-result"></span>
		</div>
	</div>
	<div id="names-result-tmpl">
		<div class="names-result" style="display: none;">
			<span class="names-result"></span>
		</div>
	</div>
{% endblock %}

