{% extends "base.html" %}
{% load humanize %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/media/css/humanity/jquery-ui-1.8.14.custom.css">
<link rel="stylesheet" type="text/css" href="/media/css/duns.css">

<script type="text/javascript">var DebugFlag = false;</script>
<script type="text/javascript" src="media/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="media/js/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="media/js/jquery.mousewheel.min.js"></script>

<script type="text/javascript" src="media/js/traer.js"></script>
<script type="text/javascript" src="media/js/processing-1.3.0-api.js"></script>

<script type="text/javascript" src="media/js/base64.js"></script>

<script type="text/javascript" src="media/js/extend.js"></script>
<script type="text/javascript" src="media/js/ratelimitedcall.js"></script>
<script type="text/javascript" src="media/js/Timer.js"></script>
<script type="text/javascript" src="media/js/meanbuffer.js"></script>
<script type="text/javascript" src="media/js/crawler.js"></script>
<script type="text/javascript" src="media/js/color.js"></script>
<script type="text/javascript" src="media/js/particlegraph.js"></script>
<script type="text/javascript" src="media/js/dunsweb.js"></script>

<title>LEI</title>

{% endblock %}
{% block body %}

    <div id="marquee">
    <span class="number">{{ name_count|intcomma }}</span> names 
    &amp;
    <span class="number">{{ duns_count|intcomma }}</span> DUNS numbers 
    from 
    <span class="number">{{ contract_count|intcomma }}</span> contracts 
    &amp;
    <span class="number">{{ grant_count|intcomma }}</span> grants
    </div>

    <div id="content">
        <div id="sidebar">
            <span id="search-form">
                <input type="text" id="entity-name">
                <button id="show-entity-btn">Find</button>
            </span>
            <button id="cancel-search-btn">
                <img id="progress-spinner" src="/media/images/spinner3-black.gif"> 
                Cancel
            </button>
            <br>
			<div id="search-queue-length"></div>
			<br>
			<span id="low-frame-rate-warning" style="display: none;">The search has been stopped because your computer is having trouble processing more results.<br></span>
            <ul id="node-route">
            </ul>

        </div>

        <div id="results">
            <div id="no-results" style="display: none;">
                <div id="no-results-text">
                    Your search returned no results.
                </div>
            </div>
            <canvas id="graph">
            </canvas>
        </div>

        <div id="node-details-container" class="clear">
        </div>
    </div>
{% endblock %}

