{% extends "base.html" %}

{% block bodyclass %}identifiers{% endblock %}

{% block body %}
<div id="ltColumn">
    <h2>Existing Identifier Systems</h2>
    <div class="copy">
        <p>
        The most prominent identifier system in used by the federal government for (non-tax) corporate identification is DUNS numbers. DUNS, or Dun &amp; Bradstreet Universal Numbering System, is a proprietary identifier maintained by Dun &amp; Bradstreet, a private business information firm. DUNS numbers are intended to uniquely identify not just corporations, but even different departments of a single corporation, or different locations. They are also used by state and local governments. 
        </p>
        <p>
        The biggest drawback to DUNS numbers is that they are considered the intellectual property of Dun &amp; Bradstreet. For years after it’s launch, USASpending.gov did not publicly display parent DUNS numbers because of objections from D&amp;B. D&amp;B requires a hefty fee just to view the corporate hierarchies. The federal government spends millions of dollars each year to access information related to DUNS numbers. The high cost is even more striking in light of the sometimes scant information available from D&amp;B. When federal contractors are required to register for a DUNS number, providing parent company information is optional. This results in large gaps in the data, making it difficult to establish a corporate hierarchy for many entities. 
        </p>
        <p>
        Another ubiquitous identifier used by the federal government is the Employer Identification Number (EIN), which is issued by the IRS. For publicly traded companies, the EIN is displayed in all documents filed with the Securities and Exchange Commission (SEC). For all others, it’s considered ‘sensitive’ information and is not generally displayed as a public reference. The EIN is the closest thing the federal government has in uniquely identifying all corporate entities in the US. However, it’s only used in this capacity for tax reporting purposes, and nothing else. 
        </p>
        <p>
        Some federal agencies have developed their own solutions to this problem. The Department of Defense requires suppliers to have a CAGE (Commercial and Government Entity) code. CAGE codes are also used to identify a given facility at a specific location. This code is used internationally as well (sometimes referred to as NCAGE codes in this context). 
        </p>
        <p>
        The Environmental Protection agency developed it’s own system for identifying facilities and companies that violate environmental laws. The Securities and Exchange Commission uses CIK (Central Index Key) codes to identify companies and CUSIP numbers (Committee on Uniform Security Identification Procedures) to track securities instruments. The SEC also requires filers to report their EIN. 
        </p>
        <p>
        These are just six of the identifiers used within the federal government, not including international or state identifiers. The existing systems have been built up over the years as a particular need arises, but no central planning effort has been undertaken to unify these systems and expand their capabilities. Recently, the US announced their commitments to the OpenGov Partnership. These included the following committment: 

        <cite>Legal entities can provide access to the international financial system for illicit actors and may frustrate financial investigations. To increase transparency over the next year, we will:
        Advocate for Legislation Requiring Meaningful Disclosure. As a critical element of a broader strategy to safeguard the international financial system from such abuse of legal entities, the Administration will  advocate for legislation that will require the disclosure of meaningful beneficial ownership information for   corporations at the time of company formation. 
        </cite>

        </p>
        <p>
        While seemingly intentioned to prevent money laundering, there is a large overlap with other aspects of corporate accountability. Legislation like this, that also addresses contractor oversight, regulation enforcement and political disclosure, is critical in resolving the unique identifier problem.
        </p>
    </div>
</div>
{% endblock body %}
