{% extends "base.html" %}
{% load media %}

{% block head_epilogue %}
	{% js "jquery-1.5.1.min.js" %}
	{% js "jquery.mousewheel.min.js" %}
	{% js "jquery-placehold.min.js" %}
	{% js "traer.js" %}
	{% js "processing-1.3.0-api.js" %}
	{% js "extend.js" %}
	{% js "ratelimitedcall.js" %}
	{% js "meanbuffer.js" %}
	{% js "crawler.js" %}
	{% js "particlegraph.js" %}
	{% js "dunsweb.js" %}
{% endblock %}

{% block body %}
    <div id="homeColumn">
        <div id="featureArea">
            <h2 class="textReplace">Fingerprinting the Private Sector</h2>
            <p>Currently there is no effective unique identifier system for companies that operate within the US. This has huge implications for corporate accountability, disclosure in political giving, evaluation of systemic risk in financial markets, oversight of government contracts and more.</p>
            <p>Play with the visualization below, read an overview of the <a href="#">major federal systems</a>, or find a <a href="#">case study</a> of one country that’s successfully overcome this problem.</p>
        </div>
        <div id="mainContent">
			<a id="jump-to-graph" name="jump-to-graph"></a>
				<h3 id="ribbon">Find a Company</h3>
				<p class="tip companyContent">The visualization below illustrates the problems with one of the most common corporate identifiers (DUNS numbers). Type in a name of a company to see the system at work.</p>
				<p id="viz-explain" class="clear tip companyContent">The graph is created by searching the <a href="http://www.usaspending.gov">USASpending.gov</a> database for contracts and grants that associate a name with a DUNS number or vice versa, repeating until it fails to find any new associations. Inaccuracies may result from name variations, a corporate restructing not reflected in the D&amp;B data, or from simple mis-use of DUNS numbers. Contract and grant details are available from USASpending.gov.</p>
				<form class="companyContent" method="get">
					<input type="search" id="company-name" name="search">
					<button id="search_btn" type="submit">
						 <span>Search</span>
					</button>
				</form>

				<div id="viz-container" style="position: relative;">
					<canvas id="graph">
					</canvas>
					<div id="low-frame-rate-warning" class="companyContent clear">The data may contain more connections than can be shown here. However your computer is having trouble drawing the graph, so the search has been stopped. It may run better if you close other applications.</div>
				</div>
        </div>
    </div>
	<img id="imgHome" alt="examining a finger print" src="{% media_url "/images/img_fingerprint.jpg" %}"/>
{% endblock body %}
