{% if contracts|length == 0 %}
    <p>No contracts for {{ name }}</p>
{% else %}
    <table class="node-contracts">
        <caption>Contracts for {{ name }}</caption>
        <thead>
            <tr><th>PIID</th>
                <th>Fiscal Year(s)</th>
                <th>Product or Service</th>
                <th>DUNS</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr><td>{{ contract.piid }}</td>
				<td>{{ contract.min_fiscal_year }}{% if contract.min_fiscal_year != contract.max_fiscal_year %} - {{ contract.max_fiscal_year }}{% endif %}</td>
                <td>{{ contract.psc_category_label }}</td>
                <td>{{ contract.duns }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if grants|length == 0 %}
    <p>No grants for {{ name }}</p>
{% else %}
    <table class="node-grants">
        <caption>Grants for {{ name }}</caption>
        <thead>
            <tr><th>Award ID</th>
                <th>Fiscal Year(s)</th>
                <th>CFDA Program</th>
                <th>DUNS</th>
            </tr>
        </thead>
        <tbody>
        {% for grant in grants %}
            <tr><td>{{ grant.federal_award_id }}</td>
				<td>{{ grant.min_fiscal_year }}{% if grant.min_fiscal_year != grant.max_fiscal_year %} - {{ grant.max_fiscal_year }}{% endif %}</td>
				<td>{% if grant.cfda_program_number %}{{ grant.cfda_program_number }} {% endif %}{{ grant.cfda_program_title }}</td>
                <td>{{ grant.duns }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

