{% extends "base.html" %}

{% block body %}
<h2>Resources</h2>
<ul>
<li><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1723298">Linda Powell's "Linchpin" paper</a></li>

<li><a href=" http://www.treasury.gov/initiatives/Documents/OFR-LEI_Policy_Statement-FINAL.PDF">OFR LEI statement</a></li>

<li><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1849964">Identity and Ownership in Goverment Contracting, by Melissa Thomas</a></li> 

<li><a href="http://www.recovery.gov/About/Documents/WhitePaperonStandardizedGovernmentwideAwardID.pdf">Solutions For Accountability and Transparency: Uniform Governmentwide Award ID Number</a></li> 

<li><a href="http://www.opencongress.org/wiki/Unique_Corporate_Identifiers">Wiki Page on Corporate Identifiers</a></li> 

<li><a href="http://www.futuregov.asia/articles/2010/mar/02/how-standardised-entity-id-improved-interaction-go/">How Single ID Improved Interaction with Govt</a></li>

<li><a href="http://www.stockholmchallenge.org/project/2010/unique-entity-number-uen-singapore.">Unique Entity Number (UEN) Singapore</a></li>
 
</ul>

{% endblock %}
