{% extends "base.html" %}

{% block bodyclass %}resources{% endblock %}

{% block body %}
<div id="ltColumn">
  <h2>Resources</h2>
  <div class="copy">
<p>Below is a list of resources that were sources of background material for the content on this site, or may be of interest to those looking to do further research on the topic. </p>
<ul id="resources">
    <li><a href="http://sunlightfoundation.com-sixdegrees.s3.amazonaws.com/sixdegreeswhitepaper.pdf">Six Degrees of Corporations White Paper</a></li>
    <li><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1723298">Creating a Linchpin for Financial Data: The Need for a Legal Entity Identifier</a>, by John Bottega and Linda Powell</li>

    <li><a href=" http://www.treasury.gov/initiatives/Documents/OFR-LEI_Policy_Statement-FINAL.PDF">The Department of the Treasury - Statement on Legal Entity Identification for Financial Contracts</a></li>

    <li><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1849964">Identity and Ownership in Goverment Contracting</a>, by Melissa Thomas</li> 

    <li><a href="http://www.recovery.gov/About/Documents/WhitePaperonStandardizedGovernmentwideAwardID.pdf">Solutions For Accountability and Transparency: Uniform Governmentwide Award ID Number</a></li> 

    <li><a href="http://www.opencongress.org/wiki/Unique_Corporate_Identifiers">Transparency Hub Page on Corporate Identifiers</a></li> 
    <li><a href="http://opencorporates.org">OpenCorporates</a>, the open database of the corporate world</li>
    <li><a href="http://www.futuregov.asia/articles/2010/mar/02/how-standardised-entity-id-improved-interaction-go/">How Single ID Improved Interaction with the Government</a></li>

    <li><a href="http://www.stockholmchallenge.org/project/2010/unique-entity-number-uen-singapore.">Unique Entity Number (UEN) Singapore</a></li>
    <li><a href="http://data.revenuewatch.org/listings/">Oil & Mining Companies on Global Stock Exchanges</a></li>
    <li><a href="http://croctail.corpwatch.org/">CorpWatch</a></li>
    <li><a href="http://www.w3.org/2009/03/xbrl/naming.html">The Entity Problem for Semantic Use of Financial Information on the Web: Global Open Source Entity Reference</a></li> 
</ul>
</div>
</div>
{% endblock %}
