{% extends "base.html" %}

{% block body %}
<h2>Case Study: Singapore's Unique Entity Number</h2>

<p>
In 2006, the Singapore government announced a project to create unique entity identifiers for all businesses,  trade unions, societies, embassies, schools, hospitals and representative offices. The goal was to have one number that all of these entities could use in their dealings with the federal government. By 2009, every government agency and over 420,000 entities were using the Unique Entity Number (UEN).</p>
<p>
The project was announced as part of a five year technology plan and cited several reasons for it’s undertaking, including:
<ul>
<li>Reduce inefficiencies in both private entities and government that resulted from multiple identifier systems with niche purposes</li>
<li>Provide a more holistic view of government interactions with entities</li>
<li>allow citizens to search for and identify entities by name and number</li>
</ul>
</p>
<p>
The project has been very successful, despite challenges over the multi-year implementation period. The Singapore Ministry of Finance identified the UEN as being critical to agile deployment of programs like the Jobs Credit Scheme, which were enacted to help businesses weather the recent financial crisis.
</p>
<p>
An official from the Ministry of Finance estimated that it cost approximately SGD 900,000 (USD 600,000) to develop the (i) UEN issuance system, database and necessary exchange gateways, (ii) the UEN internet website, and (iii) the UEN intranet website. This does not include the cost of manpower or adoption costs by the government and private entities. They have not yet estimated any possible savings. 
</p>
<p>
In an article for FutureGov, Winston Wee, Head of Integrated Services, Ministry of Finance (MOF), describe the nature of the implementation challenges:
<cite>
 "UENwould impact 84 government agencies, industry associations, and 400,000 Singapore-registered entities, which included companies, businesses, embassies, societies, schools, hospitals. Each had different working styles, organisational culture, interests, concerns and priorities,"
 </cite>
<p>
 Wee also identified a few critical aspects in making UEN adoption successful. In the same article, Wee noted that it was important to empower the agencies to move forward with their own implementation of the UEN and to be respectful of each agency’s concerns.

<cite>"We faced difficulties initially getting some agencies to migrate their system to the shared UEN one. Instead of pushing it down their throats, we worked together to understand the technical obstacles and find alternative solutions,"
</cite>
</p>
<p>
 In an effort to ease the transition, the Ministry took an existing identifier used for business registrations, and augmented it. This covered 85% of entities without any additional effort. The remaining 15% were provided software and guidance on the conversion of old identifier systems to the UEN. 
</p>
<p>
 Moving forward, the Ministry is already planning several new initiatives that use the UEN as a foundation for improved government to business services, including authentication services based on the UEN and a personalized portal to access an entity’s government information.
 </p>
 {% endblock body %}
