<p>The US government requires contractors and recipients of grants to 
obtain a DUNS number from Dun &amp; Bradstreet. D&amp;B was ahead of 
their time when they developed DUNS in 1963. They foresaw the coming 
of the computer revolution and the conglomeration of business interests.
They realized that identifying a company by their name is impractical 
and error prone. DUNS solved the impracticality problem by identifying 
businesses with a number, which is more efficiently used by computers
and avoids name conflicts between companies with the same name.
Furthermore, they assigned a separate number to each constituent part of
a company rather than just the larger umbrella company.</p>

<p>Having solved the impracticality problem, over time DUNS became the 
defacto standard for identifying businesses. While the original design 
included an error detection digit, it has since been abandoned. 
Contemporary use of DUNS is still error prone, only slightly more 
reliable than using company names. The DUNS number was originally 
designed for D&amp;B's credit reporting business. It only needed to 
identify a company as it existed in the present. There is no structure
or heirarchy information embedded in the number. Company divisions
that are spun off into new companies or sold to another company often
continue using the same DUNS number, but associated with a new name.
This makes the task of linking databases about companies very difficult.</p>

<p>This program will construct a graph of the associations between
DUNS numbers and company names found in the USASpending.gov data.
Some associations result from erroneous data entry while others 
arise from corporate reorganizations or multiple companies working
on a joint contract. Determining which requires some analysis of the
underlying contract or grant information and is sometimes not possible.</p>

<p>All data comes from USASpending.gov. Any inaccuracies displayed 
here <b>are not</b> indicative of discrepencies in the D&amp;B database.<p>
